{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://snowball.amazonaws.com/"
        },
        {
            "url": "http://snowball.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS Snowball is a petabyte-scale data transport solution that uses secure devices to transfer large amounts of data between your on-premises data centers and Amazon Simple Storage Service (Amazon S3). The commands described here provide access to the same functionality that is available in the AWS Snowball Management Console, which enables you to create and manage jobs for Snowball and Snowball Edge devices. To transfer data locally with a device, you'll need to use the Snowball client or the Amazon S3 API adapter for Snowball.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Import/Export Snowball",
        "version": "2016-06-30",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/snowball-2016-06-30.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "snowball"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/snowball/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Cancels a cluster job. You can only cancel a cluster job while it's in the <code>AwaitingQuorum</code> status. You'll have at least an hour after creating a cluster job to cancel it.",
                "operationId": "CancelCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "KMSRequestFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidJobStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "ClusterId": "CID123e4567-e89b-12d3-a456-426655440000"
                                },
                                "properties": {
                                    "ClusterId": {
                                        "description": "The 39-character ID for the cluster that you want to cancel, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>.",
                                        "maxLength": 39,
                                        "minLength": 39,
                                        "pattern": "CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CancelJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Cancels the specified job. You can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action returns a job's <code>JobState</code> as part of the response element data returned.",
                "operationId": "CancelJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidJobStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "KMSRequestFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "JobId": "JID123e4567-e89b-12d3-a456-426655440000"
                                },
                                "properties": {
                                    "JobId": {
                                        "description": "The 39-character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.",
                                        "maxLength": 39,
                                        "minLength": 39,
                                        "pattern": "(M|J)ID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "JobId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateAddress": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an address for a Snowball to be shipped to. In most regions, addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.",
                "operationId": "CreateAddress",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b"
                                    },
                                    "properties": {
                                        "AddressId": {
                                            "description": "The automatically generated ID for a specific address. You'll use this ID when you create a job to specify which address you want the Snowball for that job shipped to.",
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidAddressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedAddressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Address": {
                                        "City": "Seattle",
                                        "Company": "My Company's Name",
                                        "Country": "USA",
                                        "Name": "My Name",
                                        "PhoneNumber": "425-555-5555",
                                        "PostalCode": "98101",
                                        "StateOrProvince": "WA",
                                        "Street1": "123 Main Street"
                                    }
                                },
                                "properties": {
                                    "Address": {
                                        "description": "The address that you want the Snowball shipped to.",
                                        "properties": {
                                            "AddressId": {
                                                "description": "The unique ID for an address.",
                                                "maxLength": 40,
                                                "minLength": 40,
                                                "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                                "type": "string"
                                            },
                                            "City": {
                                                "description": "The city in an address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Company": {
                                                "description": "The name of the company to receive a Snowball at an address.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Country": {
                                                "description": "The country in an address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "IsRestricted": {
                                                "description": "If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.",
                                                "type": "boolean"
                                            },
                                            "Landmark": {
                                                "description": "This field is no longer used and the value is ignored.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Name": {
                                                "description": "The name of a person to receive a Snowball at an address.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "PhoneNumber": {
                                                "description": "The phone number associated with an address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "PostalCode": {
                                                "description": "The postal code in an address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "PrefectureOrDistrict": {
                                                "description": "This field is no longer used and the value is ignored.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "StateOrProvince": {
                                                "description": "The state or province in an address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Street1": {
                                                "description": "The first line in a street address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Street2": {
                                                "description": "The second line in a street address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "Street3": {
                                                "description": "The third line in a street address that a Snowball is to be delivered to.",
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Address"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an empty cluster. Each cluster supports five nodes. You use the <a>CreateJob</a> action separately to create the jobs for each of these nodes. The cluster does not ship until these five node jobs have been created.",
                "operationId": "CreateCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "ClusterId": "CID123e4567-e89b-12d3-a456-426655440000"
                                    },
                                    "properties": {
                                        "ClusterId": {
                                            "description": "The automatically generated ID for a cluster.",
                                            "maxLength": 39,
                                            "minLength": 39,
                                            "pattern": "CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "KMSRequestFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidInputCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "Ec2RequestFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b",
                                    "Description": "MyCluster",
                                    "JobType": "LOCAL_USE",
                                    "KmsKeyARN": "arn:aws:kms:us-east-1:123456789012:key/abcd1234-12ab-34cd-56ef-123456123456",
                                    "Notification": {
                                        "JobStatesToNotify": [],
                                        "NotifyAll": false
                                    },
                                    "Resources": {
                                        "S3Resources": [
                                            {
                                                "BucketArn": "arn:aws:s3:::MyBucket",
                                                "KeyRange": {}
                                            }
                                        ]
                                    },
                                    "RoleARN": "arn:aws:iam::123456789012:role/snowball-import-S3-role",
                                    "ShippingOption": "SECOND_DAY",
                                    "SnowballType": "EDGE"
                                },
                                "properties": {
                                    "AddressId": {
                                        "description": "The ID for the address that you want the cluster shipped to.",
                                        "maxLength": 40,
                                        "minLength": 40,
                                        "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "An optional description of this specific cluster, for example <code>Environmental Data Cluster-01</code>.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "ForwardingAddressId": {
                                        "description": "The forwarding address ID for a cluster. This field is not supported in most regions.",
                                        "maxLength": 40,
                                        "minLength": 40,
                                        "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    },
                                    "JobType": {
                                        "description": "The type of job for this cluster. Currently, the only job type supported for clusters is <code>LOCAL_USE</code>.",
                                        "enum": [
                                            "IMPORT",
                                            "EXPORT",
                                            "LOCAL_USE"
                                        ],
                                        "type": "string"
                                    },
                                    "KmsKeyARN": {
                                        "description": "The <code>KmsKeyARN</code> value that you want to associate with this cluster. <code>KmsKeyARN</code> values are created by using the <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> API action in AWS Key Management Service (AWS KMS). ",
                                        "maxLength": 255,
                                        "pattern": "arn:aws.*:kms:.*:[0-9]{12}:key/.*",
                                        "type": "string"
                                    },
                                    "Notification": {
                                        "description": "The Amazon Simple Notification Service (Amazon SNS) notification settings for this cluster.",
                                        "properties": {
                                            "JobStatesToNotify": {
                                                "description": "The list of job states that will trigger a notification for this job.",
                                                "items": {
                                                    "enum": [
                                                        "New",
                                                        "PreparingAppliance",
                                                        "PreparingShipment",
                                                        "InTransitToCustomer",
                                                        "WithCustomer",
                                                        "InTransitToAWS",
                                                        "WithAWSSortingFacility",
                                                        "WithAWS",
                                                        "InProgress",
                                                        "Complete",
                                                        "Cancelled",
                                                        "Listing",
                                                        "Pending"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "NotifyAll": {
                                                "description": "Any change in job state will trigger a notification for this job.",
                                                "type": "boolean"
                                            },
                                            "SnsTopicARN": {
                                                "description": "<p>The new SNS <code>TopicArn</code> that you want to associate with this job. You can create Amazon Resource Names (ARNs) for topics by using the <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_CreateTopic.html\">CreateTopic</a> Amazon SNS API action.</p> <p>You can subscribe email addresses to an Amazon SNS topic through the AWS Management Console, or by using the <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_Subscribe.html\">Subscribe</a> AWS Simple Notification Service (SNS) API action.</p>",
                                                "maxLength": 255,
                                                "pattern": "arn:aws.*:sns:.*:[0-9]{12}:.*",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Resources": {
                                        "description": "The resources associated with the cluster job. These resources include Amazon S3 buckets and optional AWS Lambda functions written in the Python language. ",
                                        "properties": {
                                            "Ec2AmiResources": {
                                                "description": "The Amazon Machine Images (AMIs) associated with this job.",
                                                "items": {
                                                    "description": "A JSON-formatted object that contains the IDs for an Amazon Machine Image (AMI), including the Amazon EC2 AMI ID and the Snowball Edge AMI ID. Each AMI has these two IDs to simplify identifying the AMI in both the AWS Cloud and on the device.",
                                                    "properties": {
                                                        "AmiId": {
                                                            "description": "The ID of the AMI in Amazon EC2.",
                                                            "maxLength": 21,
                                                            "minLength": 12,
                                                            "pattern": "(ami-[0-9a-f]{8})|(ami-[0-9a-f]{17})",
                                                            "type": "string"
                                                        },
                                                        "SnowballAmiId": {
                                                            "description": "The ID of the AMI on the supported device.",
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "AmiId"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "LambdaResources": {
                                                "description": "The Python-language Lambda functions for this job.",
                                                "items": {
                                                    "description": "Identifies ",
                                                    "properties": {
                                                        "EventTriggers": {
                                                            "description": "The array of ARNs for <a>S3Resource</a> objects to trigger the <a>LambdaResource</a> objects associated with this job.",
                                                            "items": {
                                                                "description": "The container for the <a>EventTriggerDefinition$EventResourceARN</a>.",
                                                                "properties": {
                                                                    "EventResourceARN": {
                                                                        "description": "The Amazon Resource Name (ARN) for any local Amazon S3 resource that is an AWS Lambda function's event trigger associated with this job.",
                                                                        "maxLength": 255,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "LambdaArn": {
                                                            "description": "An Amazon Resource Name (ARN) that represents an AWS Lambda function to be triggered by PUT object actions on the associated local Amazon S3 resource.",
                                                            "maxLength": 255,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "S3Resources": {
                                                "description": "An array of <code>S3Resource</code> objects.",
                                                "items": {
                                                    "description": "Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into. For export jobs, this object can have an optional <code>KeyRange</code> value. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.",
                                                    "properties": {
                                                        "BucketArn": {
                                                            "description": "The Amazon Resource Name (ARN) of an Amazon S3 bucket.",
                                                            "maxLength": 255,
                                                            "type": "string"
                                                        },
                                                        "KeyRange": {
                                                            "description": "For export jobs, you can provide an optional <code>KeyRange</code> within a specific Amazon S3 bucket. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.",
                                                            "properties": {
                                                                "BeginMarker": {
                                                                    "description": "The key that starts an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "EndMarker": {
                                                                    "description": "The key that ends an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "RoleARN": {
                                        "description": "The <code>RoleARN</code> that you want to associate with this cluster. <code>RoleArn</code> values are created by using the <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> API action in AWS Identity and Access Management (IAM).",
                                        "maxLength": 255,
                                        "pattern": "arn:aws.*:iam::[0-9]{12}:role/.*",
                                        "type": "string"
                                    },
                                    "ShippingOption": {
                                        "description": "<p>The shipping speed for each node in this cluster. This speed doesn't dictate how soon you'll get each Snowball Edge device, rather it represents how quickly each device moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowball Edges shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, devices are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>",
                                        "enum": [
                                            "SECOND_DAY",
                                            "NEXT_DAY",
                                            "EXPRESS",
                                            "STANDARD"
                                        ],
                                        "type": "string"
                                    },
                                    "SnowballType": {
                                        "description": "The type of AWS Snowball device to use for this cluster. The only supported device types for cluster jobs are <code>EDGE</code>, <code>EDGE_C</code>, and <code>EDGE_CG</code>.",
                                        "enum": [
                                            "STANDARD",
                                            "EDGE",
                                            "EDGE_C",
                                            "EDGE_CG"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "JobType",
                                    "Resources",
                                    "AddressId",
                                    "RoleARN",
                                    "ShippingOption"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a job to import or export data between Amazon S3 and your on-premises data center. Your AWS account must have the right trust policies and permissions in place to create a job for Snowball. If you're creating a job for a node in a cluster, you only need to provide the <code>clusterId</code> value; the other job attributes are inherited from the cluster. ",
                "operationId": "CreateJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "JobId": "JID123e4567-e89b-12d3-a456-426655440000"
                                    },
                                    "properties": {
                                        "JobId": {
                                            "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.",
                                            "maxLength": 39,
                                            "minLength": 39,
                                            "pattern": "(M|J)ID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "KMSRequestFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidInputCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ClusterLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "Ec2RequestFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b",
                                    "Description": "My Job",
                                    "JobType": "IMPORT",
                                    "KmsKeyARN": "arn:aws:kms:us-east-1:123456789012:key/abcd1234-12ab-34cd-56ef-123456123456",
                                    "Notification": {
                                        "JobStatesToNotify": [],
                                        "NotifyAll": false
                                    },
                                    "Resources": {
                                        "S3Resources": [
                                            {
                                                "BucketArn": "arn:aws:s3:::MyBucket",
                                                "KeyRange": {}
                                            }
                                        ]
                                    },
                                    "RoleARN": "arn:aws:iam::123456789012:role/snowball-import-S3-role",
                                    "ShippingOption": "SECOND_DAY",
                                    "SnowballCapacityPreference": "T80",
                                    "SnowballType": "STANDARD"
                                },
                                "properties": {
                                    "AddressId": {
                                        "description": "The ID for the address that you want the Snowball shipped to.",
                                        "maxLength": 40,
                                        "minLength": 40,
                                        "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    },
                                    "ClusterId": {
                                        "description": "The ID of a cluster. If you're creating a job for a node in a cluster, you need to provide only this <code>clusterId</code> value. The other job attributes are inherited from the cluster.",
                                        "maxLength": 39,
                                        "minLength": 39,
                                        "pattern": "CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "Defines an optional description of this specific job, for example <code>Important Photos 2016-08-11</code>.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "ForwardingAddressId": {
                                        "description": "The forwarding address ID for a job. This field is not supported in most regions.",
                                        "maxLength": 40,
                                        "minLength": 40,
                                        "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    },
                                    "JobType": {
                                        "description": "Defines the type of job that you're creating. ",
                                        "enum": [
                                            "IMPORT",
                                            "EXPORT",
                                            "LOCAL_USE"
                                        ],
                                        "type": "string"
                                    },
                                    "KmsKeyARN": {
                                        "description": "The <code>KmsKeyARN</code> that you want to associate with this job. <code>KmsKeyARN</code>s are created using the <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> AWS Key Management Service (KMS) API action.",
                                        "maxLength": 255,
                                        "pattern": "arn:aws.*:kms:.*:[0-9]{12}:key/.*",
                                        "type": "string"
                                    },
                                    "Notification": {
                                        "description": "Defines the Amazon Simple Notification Service (Amazon SNS) notification settings for this job.",
                                        "properties": {
                                            "JobStatesToNotify": {
                                                "description": "The list of job states that will trigger a notification for this job.",
                                                "items": {
                                                    "enum": [
                                                        "New",
                                                        "PreparingAppliance",
                                                        "PreparingShipment",
                                                        "InTransitToCustomer",
                                                        "WithCustomer",
                                                        "InTransitToAWS",
                                                        "WithAWSSortingFacility",
                                                        "WithAWS",
                                                        "InProgress",
                                                        "Complete",
                                                        "Cancelled",
                                                        "Listing",
                                                        "Pending"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "NotifyAll": {
                                                "description": "Any change in job state will trigger a notification for this job.",
                                                "type": "boolean"
                                            },
                                            "SnsTopicARN": {
                                                "description": "<p>The new SNS <code>TopicArn</code> that you want to associate with this job. You can create Amazon Resource Names (ARNs) for topics by using the <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_CreateTopic.html\">CreateTopic</a> Amazon SNS API action.</p> <p>You can subscribe email addresses to an Amazon SNS topic through the AWS Management Console, or by using the <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_Subscribe.html\">Subscribe</a> AWS Simple Notification Service (SNS) API action.</p>",
                                                "maxLength": 255,
                                                "pattern": "arn:aws.*:sns:.*:[0-9]{12}:.*",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Resources": {
                                        "description": "<p>Defines the Amazon S3 buckets associated with this job.</p> <p>With <code>IMPORT</code> jobs, you specify the bucket or buckets that your transferred data will be imported into.</p> <p>With <code>EXPORT</code> jobs, you specify the bucket or buckets that your transferred data will be exported from. Optionally, you can also specify a <code>KeyRange</code> value. If you choose to export a range, you define the length of the range by providing either an inclusive <code>BeginMarker</code> value, an inclusive <code>EndMarker</code> value, or both. Ranges are UTF-8 binary sorted.</p>",
                                        "properties": {
                                            "Ec2AmiResources": {
                                                "description": "The Amazon Machine Images (AMIs) associated with this job.",
                                                "items": {
                                                    "description": "A JSON-formatted object that contains the IDs for an Amazon Machine Image (AMI), including the Amazon EC2 AMI ID and the Snowball Edge AMI ID. Each AMI has these two IDs to simplify identifying the AMI in both the AWS Cloud and on the device.",
                                                    "properties": {
                                                        "AmiId": {
                                                            "description": "The ID of the AMI in Amazon EC2.",
                                                            "maxLength": 21,
                                                            "minLength": 12,
                                                            "pattern": "(ami-[0-9a-f]{8})|(ami-[0-9a-f]{17})",
                                                            "type": "string"
                                                        },
                                                        "SnowballAmiId": {
                                                            "description": "The ID of the AMI on the supported device.",
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "AmiId"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "LambdaResources": {
                                                "description": "The Python-language Lambda functions for this job.",
                                                "items": {
                                                    "description": "Identifies ",
                                                    "properties": {
                                                        "EventTriggers": {
                                                            "description": "The array of ARNs for <a>S3Resource</a> objects to trigger the <a>LambdaResource</a> objects associated with this job.",
                                                            "items": {
                                                                "description": "The container for the <a>EventTriggerDefinition$EventResourceARN</a>.",
                                                                "properties": {
                                                                    "EventResourceARN": {
                                                                        "description": "The Amazon Resource Name (ARN) for any local Amazon S3 resource that is an AWS Lambda function's event trigger associated with this job.",
                                                                        "maxLength": 255,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "LambdaArn": {
                                                            "description": "An Amazon Resource Name (ARN) that represents an AWS Lambda function to be triggered by PUT object actions on the associated local Amazon S3 resource.",
                                                            "maxLength": 255,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "S3Resources": {
                                                "description": "An array of <code>S3Resource</code> objects.",
                                                "items": {
                                                    "description": "Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into. For export jobs, this object can have an optional <code>KeyRange</code> value. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.",
                                                    "properties": {
                                                        "BucketArn": {
                                                            "description": "The Amazon Resource Name (ARN) of an Amazon S3 bucket.",
                                                            "maxLength": 255,
                                                            "type": "string"
                                                        },
                                                        "KeyRange": {
                                                            "description": "For export jobs, you can provide an optional <code>KeyRange</code> within a specific Amazon S3 bucket. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.",
                                                            "properties": {
                                                                "BeginMarker": {
                                                                    "description": "The key that starts an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "EndMarker": {
                                                                    "description": "The key that ends an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "RoleARN": {
                                        "description": "The <code>RoleARN</code> that you want to associate with this job. <code>RoleArn</code>s are created using the <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> AWS Identity and Access Management (IAM) API action.",
                                        "maxLength": 255,
                                        "pattern": "arn:aws.*:iam::[0-9]{12}:role/.*",
                                        "type": "string"
                                    },
                                    "ShippingOption": {
                                        "description": "<p>The shipping speed for this job. This speed doesn't dictate how soon you'll get the Snowball, rather it represents how quickly the Snowball moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowballs are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>",
                                        "enum": [
                                            "SECOND_DAY",
                                            "NEXT_DAY",
                                            "EXPRESS",
                                            "STANDARD"
                                        ],
                                        "type": "string"
                                    },
                                    "SnowballCapacityPreference": {
                                        "description": "If your job is being created in one of the US regions, you have the option of specifying what size Snowball you'd like for this job. In all other regions, Snowballs come with 80 TB in storage capacity.",
                                        "enum": [
                                            "T50",
                                            "T80",
                                            "T100",
                                            "T42",
                                            "NoPreference"
                                        ],
                                        "type": "string"
                                    },
                                    "SnowballType": {
                                        "description": "The type of AWS Snowball device to use for this job. The only supported device types for cluster jobs are <code>EDGE</code>, <code>EDGE_C</code>, and <code>EDGE_CG</code>.",
                                        "enum": [
                                            "STANDARD",
                                            "EDGE",
                                            "EDGE_C",
                                            "EDGE_CG"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAddress": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.",
                "operationId": "DescribeAddress",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "Address": {
                                            "AddressId": "ADID5643ec50-3eec-4eb3-9be6-9374c10eb51b",
                                            "City": "Seattle",
                                            "Company": "My Company",
                                            "Country": "US",
                                            "Name": "My Name",
                                            "PhoneNumber": "425-555-5555",
                                            "PostalCode": "98101",
                                            "StateOrProvince": "WA",
                                            "Street1": "123 Main Street"
                                        }
                                    },
                                    "properties": {
                                        "Address": {
                                            "description": "The address that you want the Snowball or Snowballs associated with a specific job to be shipped to.",
                                            "properties": {
                                                "AddressId": {
                                                    "description": "The unique ID for an address.",
                                                    "maxLength": 40,
                                                    "minLength": 40,
                                                    "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                                    "type": "string"
                                                },
                                                "City": {
                                                    "description": "The city in an address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Company": {
                                                    "description": "The name of the company to receive a Snowball at an address.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Country": {
                                                    "description": "The country in an address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "IsRestricted": {
                                                    "description": "If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.",
                                                    "type": "boolean"
                                                },
                                                "Landmark": {
                                                    "description": "This field is no longer used and the value is ignored.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of a person to receive a Snowball at an address.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "PhoneNumber": {
                                                    "description": "The phone number associated with an address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "PostalCode": {
                                                    "description": "The postal code in an address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "PrefectureOrDistrict": {
                                                    "description": "This field is no longer used and the value is ignored.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "StateOrProvince": {
                                                    "description": "The state or province in an address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Street1": {
                                                    "description": "The first line in a street address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Street2": {
                                                    "description": "The second line in a street address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Street3": {
                                                    "description": "The third line in a street address that a Snowball is to be delivered to.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b"
                                },
                                "properties": {
                                    "AddressId": {
                                        "description": "The automatically generated ID for a specific address.",
                                        "maxLength": 40,
                                        "minLength": 40,
                                        "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AddressId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAddresses": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.",
                "operationId": "DescribeAddresses",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "Addresses": [
                                            {
                                                "AddressId": "ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b",
                                                "City": "Seattle",
                                                "Company": "My Company",
                                                "Country": "US",
                                                "Name": "My Name",
                                                "PhoneNumber": "425-555-5555",
                                                "PostalCode": "98101",
                                                "StateOrProvince": "WA",
                                                "Street1": "123 Main Street"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "Addresses": {
                                            "description": "The Snowball shipping addresses that were created for this account.",
                                            "items": {
                                                "description": "The address that you want the Snowball or Snowballs associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown.",
                                                "properties": {
                                                    "AddressId": {
                                                        "description": "The unique ID for an address.",
                                                        "maxLength": 40,
                                                        "minLength": 40,
                                                        "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                                        "type": "string"
                                                    },
                                                    "City": {
                                                        "description": "The city in an address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Company": {
                                                        "description": "The name of the company to receive a Snowball at an address.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Country": {
                                                        "description": "The country in an address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "IsRestricted": {
                                                        "description": "If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.",
                                                        "type": "boolean"
                                                    },
                                                    "Landmark": {
                                                        "description": "This field is no longer used and the value is ignored.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The name of a person to receive a Snowball at an address.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "PhoneNumber": {
                                                        "description": "The phone number associated with an address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "PostalCode": {
                                                        "description": "The postal code in an address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "PrefectureOrDistrict": {
                                                        "description": "This field is no longer used and the value is ignored.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "StateOrProvince": {
                                                        "description": "The state or province in an address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Street1": {
                                                        "description": "The first line in a street address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Street2": {
                                                        "description": "The second line in a street address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Street3": {
                                                        "description": "The third line in a street address that a Snowball is to be delivered to.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "HTTP requests are stateless. If you use the automatically generated <code>NextToken</code> value in your next <code>DescribeAddresses</code> call, your list of returned addresses will start from this point in the array.",
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {},
                                "properties": {
                                    "MaxResults": {
                                        "description": "The number of <code>ADDRESS</code> objects to return.",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "type": "integer"
                                    },
                                    "NextToken": {
[...]
